# Core functionality - changes here should be rare!
/src/app.py                   @uditbh1
/src/backend/database.py      @uditbh1
/src/backend/routers/auth.py  @uditbh1

# The frontend will need refactored soon to be more object oriented.
/src/static/   @uditbh1
